node_modules/
*.tsbuildinfo
dist/
build/
*.log
.DS_Store
packagemanager/packagemanager.js
packagemanager/packagemanager.js.map
packagemanager/packagemanager.css
packagemanager/packagemanager.css.map
coverage/
.vitest/
